html{
    height: 100%;
}

body{
	padding-top: 60px;
    height: 100%;
}

fieldset {
	margin-top: 20px
}

#headershadow{
    box-shadow: 0px 5px 20px gray;
}

#footer{
	text-align: center;
}

#logoUrlLook{
	color: white;
}

#logoUrlLook:hover{
	color: gray;
}
#homeLogo{
		color: #3e7cf0;
	
}
#odvojiJumbotronOdHeadera{
	margin-top: 30px;
}

#odvojiOdHeadera{
	margin-top: 50px;
}

#korisnikDetails{
	margin-top: 50px;
	width: 50%;

}

#odjavaRight{
	margin-right: 5px;
}

#pitanja input[type="text"] {
	margin-top: 1px;
	margin-bottom: 1px;
}

.ank-select {
	background-color: #f8f8f8;
}

.icon-info {
	color: orange;
	opacity: 0.5;
	font-size: 0.7em;
}

.icon-info:hover {
	opacity: 1.0;
}

.odg {
	cursor: pointer;
}

.odg-line:hover {
	background-color: #f8f8f8;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.div-rm-btn {
	display: none;
}

.div-odgovor:hover .div-rm-btn {
	display: block;
}
