html{
    height: 100%;
}

body{
	padding-top: 60px;
    height: 100%;
}

#odvojiOdHeadera{
	margin-top: 50px;
}

#korisnikDetails{
	margin-top: 50px;
	width: 50%;

}

#odjavaRight{
	margin-right: 5px;
}

#pitanja input[type="text"] {
	margin-top: 1px;
	margin-bottom: 1px;
}

.odg {
	cursor: pointer;
}

.odg-line:hover {
	background-color: #f8f8f8;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.div-rm-btn {
	display: none;
}

.div-odgovor:hover .div-rm-btn {
	display: block;
}
